/*100 for Thin
200 for Extra Light (Ultra Light)
300 for Light
400 for Normal (Regular)
500 for Medium
600 for Semi Bold (Demi Bold)
700 for Bold
800 for Extra Bold (Ultra Bold)
900 for Black (Heavy)
 */

@font-face{ /*standard*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{ /*light*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{ /*thin actually looks kinda clean*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face{ /*standard*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{ /*light*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode-Light-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{ /*thin actually looks kinda clean*/
    font-family: "Pixel Font";
    src : url('../assets/fonts/PixelCode-Thin-Italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

body{
    font-family: "Pixel Font", sans-serif;
    background-color: #252730;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 60em;
    line-height: 1.6;

    padding: 0 10px;

    font-size: 20px;
    color: white;
    text-align: left;
}


.paragraph{
    margin-top: 0em;
    font-weight: 100;
}

.headers{
    color: #0041C2;
    margin-top: 50px;
}

.links{
    color: #B5DAFE;
}

.links:hover{
    color: #6495ED;
}

.spielLinks{
    color: white;
}

.spielLinks:hover {
    color: #ccc
}

.homeLink{
    font-size: 25px;
    color: white;
    font-style: italic;
    font-weight: 100;
}

.homeLink:hover{
    color: #ccc
}

.footnote{
    text-align: center;
    font-size: 11px;
    color: white;
    font-weight: 70;
    font-style: italic;
}

.footnoteImage{
    height: 20px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 3px;
}

/*scroicked from my boy kjason stang who scroicked from https://espadrine.github.io/blog/posts/markdown-quote-styling.html*/
blockquote {
    margin: 0;
    padding-left: 1.4rem;
    position: relative;
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
}

blockquote::before { /* this actually adds the rectangle on the left */
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #dadada;
    border-radius: 2px / 4px;
}

ol {
    font-style: italic;
    font-size: 15px;
    font-weight: 100;
    margin-left: 2em;
}

/* .thin-text{ */
/*     font-family: "pixel font", sans-serif; */
/*     font-weight: 300; */
/*     font-size: 15px; */
/* } */
